<!DOCTYPE html>
<html>
<head>
<title>Update Student</title>
</head>
<body>
<h2>Update Student</h2>
<form action="/student/{{ stud["student_id"] }}/update" method="POST" id="update-form">
<div>
<label>Roll Number:</label>
<input type="text" name="roll" value="{{ stud["roll_number"] }}" disabled />
</div>
<div>
<label>First Name:</label>
<input type="text" name="f_name" value="{{ stud["first_name"] }}" required />
</div>
<div>
<label>Last Name:</label>
<input type="text" name="l_name" value="{{ stud["last_name"] }}"/>
</div>
<div>
    <label for="courses">Select Course: </label>
    <select name="course" id="course">
        {% for course in curs %}
        <option value="{{ course["course_id"] }}">{{ course["course_name"] }}</option>
        {% endfor %}
</div>
<br>
<div>
<input type="submit" value = "Submit">
</div>
</form>
</body>
</html>